/* Start Main Rulez */
body{
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin: 40px 0px;
    font-weight: bold;
    color: #00000094;
}
.form-login-page{position: relative;}
ul{list-style: none;}
.img-circle{border-radius: 50%;}
a{text-decoration: none;}
.navbar-light .navbar-nav .nav-link.active{color: #EE9028;}
.login-page{min-height: 100vh;}
.margin-top{margin-top: 10%;}
/* End Main Rulez */
/* Start bootstrap Navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.navbar .navbar-collapse{
    width: 70%;
    justify-content: flex-end;
}
.navbar .navbar-nav{
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.dropdown{
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
}
.dropdown img{
    width: 45px;
    height: 45px;
}
/* End bootstrap Navbar */
#slider, #ads{
    display: flex;
    height: 65vh;
    padding: 10px;
    justify-content: center;
}
 .carousel-inner{
    height: 100%;
}
 .carousel-item {
    height: 100%;
}
.carousel-item .card{
    width: 80%;
    box-shadow: 0 0 2px white;
}
.carousel-inner img{
    width: 90vw;
    height: 100%;
}
#ads .row{
    background-image: url("../images/r4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: 50px 0;  
}
#card .col{
    height: 278px;
}
#card .card{
    position: relative;
    transition: all 5s ease-in-out;
    transform-style: preserve-3d;
    height: 100%;
}
#card .card:hover{
    transform: rotateY(180deg);
    transition-delay: 2s;
}
#card :where(.fornt, .back){
    position: absolute;
    height: 100%;
    text-align: center;
}
#card .fornt{z-index: 2;}
#card .fornt img{
    width: 70%;
    padding: 10px;
    max-height: 160px;
    height: 270px;
    border-radius: 31%;
    border: 1px solid #e3dfdf;
}

#card .fornt:hover p{color: #db5872;}
#card .back{
    z-index: 1;
    padding: 4px;
    text-align: left;
    transform: rotateY(180deg);
}
#card .back .list-items{
    padding: 1px 6px;
    list-style: none;
    text-align: left;
    line-height: 2.5;
}
#card .form-control{
    width: 24%;
    flex: none;
    margin: 10px;
}
#card .comp{
    display: none;
}
#card .cit{display: none;}
.col.hide{display: none;}
@media(max-width:567px){
    .carousel-item .card{width: 100%;}
    .carousel-item .card h5{font-size: 11px;}
    #ads{min-height: 100vh;}
    #card .card{width: 60%; margin: auto;}
    #card .fornt img{height: 100%;}
}
/* End Card Section */
/* Start Login Page */
.login-page form,
.the-errors{
    max-width: 350px;
    margin: auto;
}
.login-page form input{margin: 5px;}
.login-page [data-class="login"].selected{color: #0d6efd;}
.login-page [data-class="signup"].selected{color: #198754;}
.login-page .y-selected{color: #137c33;}
.login-page h1 span{cursor: pointer;}
.login-page .signup{display: none;}
.masg{display: none;}
/* End Login Page */
/*! Start Comps Page */
.comp .row{box-shadow: 0 0 3px #CCC;}
.comp .col-sm-2 img{
    width: 59%;
    height: auto;
}
@media (max-width:768px){
    .margin-top{margin-top: 15%;}
    #slider{height: 40vh;}
    .carousel-item .card h5{font-size: 13px;}
    .comp .row{width: 100%;}
    .comp .row>*{
        text-align: center;
        margin: auto;
    }
    .comp .col-sm-2 img{
        width: 50%;
        height: 70%;
    }
    .comp .list-items{
        flex-direction: column;
        width: 100%;
    }
}
/*! End Comp Page */
/* ! Start About Page */
.about{box-shadow: 0 0 100px 10px #CCC inset;}
.about .info-right .box-info{
    box-shadow: 0 0 5px #838282;
    height: 500px;
}
@media(max-width: 768px){
    .about .about-content>*{width: 100%;}
}
/* ! End About Page */
/* !  Start Datile Page*/
.body-datile{background-color: #CCC;}
.datile-content ul{list-style: circle;}
.datile-content .comp-info .lists::after{
    content: "";
    position: absolute;
    border-top: 1px solid #FFBC00;
    border-left: 1px solid #FFBC00;
    width: 15px;
    height: 15px;
    transform: rotate(140deg);
    top: 10px;
    left: 10px;
}
@media(max-width: 992px){
    .header-datile .list-items{flex-direction: column;}
    .datile-content .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .datile-content :where(.content-left, .content-right){
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
    }
}
/* !  End Datile Page*/
/* !Start Contact Page */
form .col-sm-8 p{visibility: hidden;}
#contact{min-height: 100vh;}
#contact iframe{
    width: 100%;
    height: 100%;
}
/* !End Contact Page */
/* ! Start Profile Page */
.backColor1{background-color: #EE9028;}
.backColor2{background-color: #66676C;}
.color1{color: #EE9028;}
.color2{color: #66676C;}
.profile{
    width: 75%;
    box-shadow: 0 0 10px #CCC;
}
.profile-left .card-header{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 330px;
    border-bottom: 12px solid #221c1c;
}

.profile-left .card-header img{border: 12px solid #66676C;}
.profile-left .card-footer{box-shadow: none;}
.profile .buttom .info{
    border-bottom-left-radius: 80px;
    box-shadow: 0 0 3px #CCC;
}
.profile-left .card-footer .raing-info{
    height: 5px;
    background-color: #CCC;
    width: 50%;
    margin-left: 4px;
}
.profile-left .card-footer .stat{height: 100%;}
.profile-right::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 80px;
    bottom: 0;
    right: 0;
    background-color: #EE9028;
    z-index: 1;
    border-top-left-radius: 160px;
}
.profile-right .card>*{
    width: 85%;
    text-align: left;
}
.profile-right .card .buttom{width: 50%;}
.profile-right .card .info{
    box-shadow: 0 0 3px #66676C;
    border: 1px solid #66676C;
}
.profile-right .steps-learning::after{
    content: "";
    position: absolute;
    height: 77%;
    width: 1px;
    left: 0;
    top: 5px;
    border-left: 1px solid #CCC;
}
.profile-right .all-steps::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: -17px;
    background-color: #EE9028;
    z-index: 1;
    border-radius: 50%;
}
.profile-right .interests .raing-info{height: 5px;}
.profile-right .interests .stat{height: 100%;}
@media(max-width: 767px){
    .profile-right .card .buttom{width: 100%;}
}
/* ! End Profile Page */